<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Venedor - Responsive eCommerce Template</title>
    <meta name="description" content="Responsive modern ecommerce Html5 Template">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    @Scripts.Render("~/bundles/Commonjquery")
    @Styles.Render("~/Content/ShopCSS")
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300" rel="stylesheet" id="googlefont">
</head>

<body>
    <div id="option-panel">
        <div id="option-panel-wrapper">
            <div id="option-panel-btn"></div>
            <div id="option-panel-container">
                <ul id="option-panel-tabs-container" class="clearfix">
                    <li class="active">
                        <a href="#panel-layout" data-toggle="tab" data-panel-title="Layout"></a>
                    </li>
                    <li>
                        <a href="#panel-home" data-toggle="tab" data-panel-title="Background Settings"></a>
                    </li>
                    <li>
                        <a href="#panel-color" data-toggle="tab" data-panel-title="Color Settings"></a>
                    </li>
                    <li>
                        <a href="#panel-font" data-toggle="tab" data-panel-title="Font Settings"></a>
                    </li>
                    <li>
                        <a id="option-close" href="#"></a>
                    </li>
                </ul>
                <div id="option-panel-title" class="clearfix"><span>Layout</span> <a href="#" id="option-panel-reset">Reset</a></div>
                <div id="option-panel-content" class="tab-content">
                    <div class="tab-pane fade in active" id="panel-layout">
                        <div id="panel-option-layout" class="panel-group custom-accordion sm-accordion">
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>Layout</span></div>
                                    <a class="accordion-btn opened" data-toggle="collapse" data-target="#document-layout" data-parent="#panel-option-layout"></a>
                                </div>
                                <div id="document-layout" class="collapse in">
                                    <div class="panel-body">
                                        <ul class="layout-style-list clearfix">
                                            <li data-layout="fullwidth">
                                                <img src="images/panel/fullwidth.png" alt="Fullwidth">
                                                <p>Fullwidth</p>
                                            </li>
                                            <li data-layout="boxed">
                                                <img src="images/panel/boxed.png" alt="Boxed">
                                                <p>Boxed</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="panel-home">
                        <div id="panel-home-accordion" class="panel-group custom-accordion sm-accordion">
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>Basic Color</span></div>
                                    <a class="accordion-btn opened" data-toggle="collapse" data-target="#body-background-color" data-parent="#panel-home-accordion"></a>
                                </div>
                                <div id="body-background-color" class="collapse in">
                                    <div class="panel-body">
                                        <div id="panel-color-picker"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>Patterns</span></div>
                                    <a class="accordion-btn" data-toggle="collapse" data-target="#body-background-pattern" data-parent="#panel-home-accordion"></a>
                                </div>
                                <div id="body-background-pattern" class="collapse">
                                    <div class="panel-body">
                                        <ul class="clearfix pattern-box-list">
                                            <li><img data-src="images/patterns/pattern1.png" src="images/patterns/pattern1.png" alt="pattern 1"></li>
                                            <li><img data-src="images/patterns/pattern2.png" src="images/patterns/pattern2.png" alt="pattern 2"></li>
                                            <li><img data-src="images/patterns/pattern3.png" src="images/patterns/pattern3.png" alt="pattern 3"></li>
                                            <li><img data-src="images/patterns/pattern4.png" src="images/patterns/pattern4.png" alt="pattern 4"></li>
                                            <li><img data-src="images/patterns/pattern5.png" src="images/patterns/pattern5.png" alt="pattern 5"></li>
                                            <li><img data-src="images/patterns/pattern6.png" src="images/patterns/pattern6.png" alt="pattern 6"></li>
                                            <li><img data-src="images/patterns/pattern7.png" src="images/patterns/pattern7.png" alt="pattern 7"></li>
                                            <li><img data-src="images/patterns/pattern8.png" src="images/patterns/pattern8.png" alt="pattern 8"></li>
                                            <li><img data-src="images/patterns/pattern9.png" src="images/patterns/pattern9.png" alt="pattern 9"></li>
                                            <li><img data-src="images/patterns/pattern10.png" src="images/patterns/pattern10.png" alt="pattern 10"></li>
                                            <li><img data-src="images/patterns/pattern11.png" src="images/patterns/pattern11.png" alt="pattern 11"></li>
                                            <li><img data-src="images/patterns/pattern12.png" src="images/patterns/pattern12.png" alt="pattern 12"></li>
                                            <li><img data-src="images/patterns/pattern13.png" src="images/patterns/pattern13.png" alt="pattern 13"></li>
                                            <li><img data-src="images/patterns/pattern14.png" src="images/patterns/pattern14.png" alt="pattern 14"></li>
                                            <li><img data-src="images/patterns/pattern15.png" src="images/patterns/pattern15.png" alt="pattern 15"></li>
                                            <li><img data-src="images/patterns/pattern16.png" src="images/patterns/pattern16.png" alt="pattern 16"></li>
                                            <li><img data-src="images/patterns/pattern17.png" src="images/patterns/pattern17.png" alt="pattern 17"></li>
                                            <li><img data-src="images/patterns/pattern18.png" src="images/patterns/pattern18.png" alt="pattern 18"></li>
                                            <li><img data-src="images/patterns/pattern19.png" src="images/patterns/pattern19.png" alt="pattern 19"></li>
                                            <li><img data-src="images/patterns/pattern20.png" src="images/patterns/pattern20.png" alt="pattern 20"></li>
                                            <li><img data-src="images/patterns/pattern21.png" src="images/patterns/pattern21.png" alt="pattern 21"></li>
                                            <li><img data-src="images/patterns/pattern22.png" src="images/patterns/pattern22.png" alt="pattern 22"></li>
                                            <li><img data-src="images/patterns/pattern23.png" src="images/patterns/pattern23.png" alt="pattern 23"></li>
                                            <li><img data-src="images/patterns/pattern24.png" src="images/patterns/pattern24.png" alt="pattern 24"></li>
                                            <li><img data-src="images/patterns/pattern25.png" src="images/patterns/pattern25.png" alt="pattern 25"></li>
                                            <li><img data-src="images/patterns/pattern26.png" src="images/patterns/pattern26.png" alt="pattern 26"></li>
                                            <li><img data-src="images/patterns/pattern27.png" src="images/patterns/pattern27.png" alt="pattern 27"></li>
                                            <li><img data-src="images/patterns/pattern28.png" src="images/patterns/pattern28.png" alt="pattern 28"></li>
                                            <li><img data-src="images/patterns/pattern29.png" src="images/patterns/pattern29.png" alt="pattern 29"></li>
                                            <li><img data-src="images/patterns/pattern30.png" src="images/patterns/pattern30.png" alt="pattern 30"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="panel-color">
                        <div id="panel-color-accordion" class="panel-group custom-accordion sm-accordion">
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>Green Mode</span></div>
                                    <a class="accordion-btn opened" data-toggle="collapse" data-target="#color-mode" data-parent="#panel-color-accordion"></a>
                                </div>
                                <ul class="colorbox-list clearfix collapse in" id="color-mode">
                                    <li>
                                        <div class="color-box first-color"><span></span></div>
                                        <p>First Color</p>
                                    </li>
                                    <li>
                                        <div class="color-box second-color"><span></span></div>
                                        <p>Second Color</p>
                                    </li>
                                    <li>
                                        <div class="color-box third-color"><span></span></div>
                                        <p>Third Color</p>
                                    </li>
                                    <li>
                                        <div class="color-box fourth-color"><span></span></div>
                                        <p>Fourth Color</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="panel-font">
                        <div id="panel-font-accordion" class="panel-group custom-accordion sm-accordion">
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>First Font</span></div>
                                    <a class="accordion-btn opened" data-toggle="collapse" data-target="#first-font-container" data-parent="#panel-font-accordion"></a>
                                </div>
                                <div class="collapse in" id="first-font-container">
                                    <select class="form-control" name="first-font" id="first-font">
                                        <option value="Arial">Arial</option>
                                        <option value="Open Sans">Open Sans</option>
                                        <option value="PT Sans">PT Sans</option>
                                        <option value="Lato">Lato</option>
                                        <option value="Roboto">Roboto</option>
                                        <option value="Droid Sans">Droid Sans</option>
                                        <option value="Ubuntu">Ubuntu</option>
                                        <option value="Arvo">Arvo</option>
                                        <option value="Droid Serif">Ubuntu</option>
                                        <option value="Nunito">Nunito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>Second Font</span></div>
                                    <a class="accordion-btn" data-toggle="collapse" data-target="#second-font-container" data-parent="#panel-font-accordion"></a>
                                </div>
                                <div class="collapse" id="second-font-container">
                                    <select class="form-control" name="second-font" id="second-font">
                                        <option value="Oswald">Oswald</option>
                                        <option value="Gudea">Gudea</option>
                                        <option value="Open Sans">Open Sans</option>
                                        <option value="PT Sans">PT Sans</option>
                                        <option value="Lato">Lato</option>
                                        <option value="Roboto">Roboto</option>
                                        <option value="Droid Sans">Droid Sans</option>
                                        <option value="Ubuntu">Ubuntu</option>
                                        <option value="Arvo">Arvo</option>
                                        <option value="Droid Serif">Droid Serif</option>
                                        <option value="Nunito">Nunito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>Third Font</span></div>
                                    <a class="accordion-btn" data-toggle="collapse" data-target="#third-font-container" data-parent="#panel-font-accordion"></a>
                                </div>
                                <div class="collapse" id="third-font-container">
                                    <select class="form-control" name="third-font" id="third-font">
                                        <option value="PT Sans">PT Sans</option>
                                        <option value="Gudea">Gudea</option>
                                        <option value="Open Sans">Open Sans</option>
                                        <option value="Lato">Lato</option>
                                        <option value="Roboto">Roboto</option>
                                        <option value="Droid Sans">Droid Sans</option>
                                        <option value="Ubuntu">Ubuntu</option>
                                        <option value="Arvo">Arvo</option>
                                        <option value="Droid Serif">Droid Serif</option>
                                        <option value="Nunito">Nunito</option>
                                    </select>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="accordion-header">
                                    <div class="accordion-title"><span>Fourth Font</span></div>
                                    <a class="accordion-btn" data-toggle="collapse" data-target="#fourth-font-container" data-parent="#panel-font-accordion"></a>
                                </div>
                                <div class="collapse" id="fourth-font-container">
                                    <select class="form-control" name="fourth-font" id="fourth-font">
                                        <option value="Gudea">Gudea</option>
                                        <option value="Open Sans">Open Sans</option>
                                        <option value="PT Sans">PT Sans</option>
                                        <option value="Lato">Lato</option>
                                        <option value="Roboto">Roboto</option>
                                        <option value="Droid Sans">Droid Sans</option>
                                        <option value="Ubuntu">Ubuntu</option>
                                        <option value="Arvo">Arvo</option>
                                        <option value="Droid Serif">Droid Serif</option>
                                        <option value="Nunito">Nunito</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <header id="header">
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-top-right">
                                <ul id="top-links" class="clearfix">
                                    <li><a href="/Shop/Cart" title="My Cart"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">My Cart</span></a></li>
                                    <li><a href="/Shop/Checkout" title="Checkout"><span class="top-icon top-icon-check"></span><span class="hide-for-xs">Checkout</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="inner-header">
                <div class="container">
                    <div class="row">
                        @*<div class="col-md-5 col-sm-5 col-xs-12 logo-container">
                            <h1 class="logo clearfix"><span>Responsive eCommerce Template</span> <a href="index.html" title="Venedor eCommerce Template"><img src="images/logo.png" alt="Venedor Commerce Template" width="238" height="76"></a></h1>
                        </div>*@
                    </div>
                </div>
                <div id="main-nav-container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 clearfix">
                                <nav id="main-nav">
                                    <div id="responsive-nav">
                                        <div id="responsive-nav-button">Menu <span id="responsive-nav-button-icon"></span></div>
                                    </div>
                                    <ul class="menu clearfix">
                                        <li><a href="/Main/Index">Back To Main</a></li>
                                        <li><a href="/Main/Index/#about">About Us</a></li>
                                        <li><a href="/Main/Index/#services">Services</a></li>
                                        <li><a href="/Shop/Index">Shop</a></li>
                                        <li><a href="/TrackOrder/Index">Track Your Order</a></li>
                                        <li><a href="/Main/Index/#contact">Contact</a></li>
                                    </ul>
                                </nav>
                                <div id="quick-access">
                                    <div class="dropdown-cart-menu-container pull-right">
                                        <div class="btn-group dropdown-cart">
                                            <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown"><span class="cart-menu-icon"></span> 0 item(s) <span class="drop-price">- $0.00</span></button>
                                            <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">
                                                <p class="dropdown-cart-description">Recently added item(s).</p>
                                                <ul class="dropdown-cart-product-list">
                                                    <li class="item clearfix">
                                                        <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a> <a href="#" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a>
                                                        <figure>
                                                            <a href="product.html"><img src="images/products/thumbnails/item12.jpg" alt="phone 4"></a>
                                                        </figure>
                                                        <div class="dropdown-cart-details">
                                                            <p class="item-name"><a href="product.html">Cam Optia AF Webcam</a></p>
                                                            <p>1x <span class="item-price">$499</span></p>
                                                        </div>
                                                    </li>
                                                    <li class="item clearfix">
                                                        <a href="#" title="Delete item" class="delete-item"><i class="fa fa-times"></i></a> <a href="#" title="Edit item" class="edit-item"><i class="fa fa-pencil"></i></a>
                                                        <figure>
                                                            <a href="product.html"><img src="images/products/thumbnails/item13.jpg" alt="phone 2"></a>
                                                        </figure>
                                                        <div class="dropdown-cart-details">
                                                            <p class="item-name"><a href="product.html">Iphone Case Cover Original</a></p>
                                                            <p>
                                                                1x <span class="item-price">$499<span class="sub-price">.99</span></span>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="dropdown-cart-total">
                                                    <li><span class="dropdown-cart-total-title">Shipping:</span>$7</li>
                                                    <li><span class="dropdown-cart-total-title">Total:</span>$1005<span class="sub-price">.99</span></li>
                                                </ul>
                                                <div class="dropdown-cart-action">
                                                    <p><a href="cart.html" class="btn btn-custom-2 btn-block">Cart</a></p>
                                                    <p><a href="checkout.html" class="btn btn-custom btn-block">Checkout</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer id="footer">
            <div id="twitterfeed-container">
                <div class="container">
                    <div class="row">
                        <div class="twitterfeed col-md-12">
                            <div class="twitter-icon"><i class="fa fa-twitter"></i></div>
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                                    <div class="twitter_feed flexslider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="inner-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>MY ACCOUNT</h3>
                            <ul class="links">
                                <li><a href="#">My account</a></li>
                                <li><a href="#">Personal information</a></li>
                                <li><a href="#">Addresses</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Your Vouchers</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>INFORMATION</h3>
                            <ul class="links">
                                <li><a href="#">New products</a></li>
                                <li><a href="#">Top sellers</a></li>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Manufacturers</a></li>
                                <li><a href="#">Suppliers</a></li>
                                <li><a href="#">Our stores</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12 widget">
                            <h3>MY ACCOUNT</h3>
                            <ul class="contact-list">
                                <li><strong>Venedor Ltd</strong></li>
                                <li>United Kingdom</li>
                                <li>Greater London</li>
                                <li>London 02587</li>
                                <li>Oxford Street 48/188</li>
                                <li>Working Days: Mon. - Sun.</li>
                                <li>Working Hours: 9.00AM - 8.00PM</li>
                            </ul>
                        </div>
                        <div class="clearfix visible-sm"></div>
                        <div class="col-md-3 col-sm-12 col-xs-12 widget">
                            <h3>FACEBOOK LIKE BOX</h3>
                            <div class="facebook-likebox">
                                <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fenvato&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12 footer-social-links-container">
                            <ul class="social-links clearfix">
                                <li>
                                    <a href="#" class="social-icon icon-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-rss"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-delicious"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-flickr"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-skype"></a>
                                </li>
                                <li>
                                    <a href="#" class="social-icon icon-email"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12 footer-text-container">
                            <p>&copy; 2014 Powered by Company&trade;. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div><a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a>
    @Scripts.Render("~/bundles/ShopJS")
    @RenderSection("scripts", required: false)
</body>
</html>